$fg: #dedede;
$fg-dark: #9b9b9b;
$bg: #232323;
$bg-dark: #191919;
$red: #9a0720;
$red-dark: #84061b;

$normal: #919aa3;
$fighting: #cf3e69;
$flying: #90aade;
$poison: #ad6ac9;
$ground: #da7844;
$rock: #c8b88c;
$bug: #91c228;
$ghost: #566eb1;
$steel: #5a8fa3;
$fire: #ff9d53;
$water: #4c91d6;
$grass: #63bc5b;
$electric: #f3d338;
$psychic: #f97277;
$ice: #7ed2c5;
$dragon: #026dc5;
$dark: #5a5366;
$fairy: #ec8fe6;

@function shade($color) {
    @return mix(black, $color, 30%);
}

//Sass will not compile with utf-8 charset unless there are non-ASCII characters
.force-utf-8 {
    content: "¡";
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: $fg;
    background-color: $bg;
}

main {
    margin: 0 1rem;
}

h1 {
    font-weight: bold;
    font-size: 2rem;
    margin: 1rem 0;
}

img {
    max-width: 100%;
}

input,
.submit {
    font: inherit;
    appearance: none;
    background: $bg;
    border: 1px solid $fg;
    border-radius: 5px;
    color: inherit;
    padding: 3px 6px;
}

.submit {
    cursor: pointer;
    &:hover {
        background: $bg-dark;
    }
}

.result {
    width: 100%;
    border: 0.4rem solid $fg;
    border-radius: 1rem;
    margin: 1rem 0;
    box-sizing: border-box;
    > div {
        text-align: center;
    }
    .id {
        color: $fg-dark;
    }
    .type {
        margin: 0.2rem;
        padding: 0.2rem;
        display: inline-block;
        border-radius: 1rem;
        min-width: 4rem;
        font-weight: bold;
        font-size: 0.75rem;
    }
    .flexbox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .pokemon-button {
        all: inherit;
        display: flex;
        flex-direction: column;
        flex: 1 1;
        min-width: 20%;
        &:hover {
            cursor: pointer;
        }
    }
    .arrow {
        font-size: 6vw;
    }
    .name-text {
        font-size: 3vw;
    }
}

.navbar {
    display: flex;
    justify-content: start;
    background-color: $red;
    align-items: center;
    > a {
        color: inherit;
        text-decoration: none;
        margin: 0;
        padding: 0.5rem;
        &:hover {
            background-color: $red-dark;
        }
    }
}

.hidden {
    display: none;
}

.normal {
    background-color: $normal;
    -webkit-text-stroke: 1px shade($normal);
}
.fighting {
    background-color: $fighting;
    -webkit-text-stroke: 1px shade($fighting);
}
.flying {
    background-color: $flying;
    -webkit-text-stroke: 1px shade($flying);
}
.poison {
    background-color: $poison;
    -webkit-text-stroke: 1px shade($poison);
}
.ground {
    background-color: $ground;
    -webkit-text-stroke: 1px shade($ground);
}
.rock {
    background-color: $rock;
    -webkit-text-stroke: 1px shade($rock);
}
.bug {
    background-color: $bug;
    -webkit-text-stroke: 1px shade($bug);
}
.ghost {
    background-color: $ghost;
    -webkit-text-stroke: 1px shade($ghost);
}
.steel {
    background-color: $steel;
    -webkit-text-stroke: 1px shade($steel);
}
.fire {
    background-color: $fire;
    -webkit-text-stroke: 1px shade($fire);
}
.water {
    background-color: $water;
    -webkit-text-stroke: 1px shade($water);
}
.grass {
    background-color: $grass;
    -webkit-text-stroke: 1px shade($grass);
}
.electric {
    background-color: $electric;
    -webkit-text-stroke: 1px shade($electric);
}
.psychic {
    background-color: $psychic;
    -webkit-text-stroke: 1px shade($psychic);
}
.ice {
    background-color: $ice;
    -webkit-text-stroke: 1px shade($ice);
}
.dragon {
    background-color: $dragon;
    -webkit-text-stroke: 1px shade($dragon);
}
.dark {
    background-color: $dark;
    -webkit-text-stroke: 1px shade($dark);
}
.fairy {
    background-color: $fairy;
    -webkit-text-stroke: 1px shade($fairy);
}
