$fg: #dedede;
$bg: #232323;
$bg-dark: #191919;
$red: #9a0720;
$red-dark: #84061b;

//Sass will not compile with utf-8 charset unless there are non-ASCII characters
.force-utf-8 {
    content: "¡";
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    color: $fg;
    background-color: $bg;
}

main {
    margin-left: 1rem;
}

h1 {
    font-weight: bold;
    font-size: 2rem;
    margin: 1rem 0;
}

input {
    font: inherit;
    background: $bg;
    border: 1px solid $fg;
    border-radius: 5px;
    color: inherit;
    &[type="submit"] {
        cursor: pointer;
        &:hover {
            background: $bg-dark;
        }
    }
}

.navbar {
    display: flex;
    justify-content: start;
    background-color: $red;
    align-items: center;
    > a {
        color: inherit;
        text-decoration: none;
        margin: 0;
        padding: 0.5rem;
        &:hover {
            background-color: $red-dark;
        }
    }
}

.hidden {
    display: none;
}
