:root {
    --text: #dedede;
    --bg: #232323;
    --red: #dc0a2d;
}
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    color: var(--text);
    background-color: var(--bg);
}
.navbar {
    display: flex;
    justify-content: start;
    gap: 1rem;
    background-color: var(--red);
    align-items: center;
}
.navbar > a {
    color: inherit;
    text-decoration: none;
}
.navbar > * {
    margin: 0.5rem;
    font-weight: bold;
}
.header-text {
    margin-left: 0.5rem;
}
